
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
<style>
    .btn a {color:white; text-decoration: none}
   body {background-color:cornflowerblue;}
</style>
</head>
<body>
    <div class="text-center"> 
    <h2>Welcome To The Grant Chirpus Coding Dojo!</h2>
        <h3> We have openings for the fall coding warrior camp young grasshopper. Are you ready to be a coding ninja !?</h3>
        <div class ="btn btn-success">
   @Html.ActionLink("Enroll Now", "RsvpForm")
     </div>
</div>
</body>
</html>
